/* fonts */
@font-face {
  font-family: "FtySpeedyCasualNcv";
  src: url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.eot");
  src: local("☺"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.woff") format("woff"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.ttf") format("truetype"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelveticaLight/HelveticaLight.eot");
  src: local("☺"),
    url("./fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("./fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"),
    url("./fonts/HelveticaLight/HelveticaLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("./fonts/HelveticaLight/HelveticaMedium.eot");
  src: local("☺"),
    url("fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("./fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype"),
    url("./fonts/HelveticaMedium/HelveticaMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("./fonts/HelveticaRegular/HelveticaRegular.eot");
  src: local("☺"),
    url("./fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("./fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype"),
    url("./fonts/HelveticaRegular/HelveticaRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Reset Styles */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
em,
img,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

/* container */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.logo-mobile img {
  display: none;
}
.wrap-logo img {
  position: relative;
  width: 700px;
  height: 60px;
}

.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 0;
  margin: 10px 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}
.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.wrap-nav {
  background-color: #317fd4;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrap-nav nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-nav {
  display: flex;
}
.list-nav li:not(:last-child) {
  margin-right: 30px;
}

/* .link-nav:not(:last-child) {
  margin-right: 20px;
} */
.list-nav li a {
  font-family: "HelveticaRegular";
  font-size: 26px;
  letter-spacing: normal;
  color: #fff;
  cursor: pointer;
}

/* contact-list for header and footer */
.boxes ul,
.boxes-footer ul {
  display: flex;
}
.boxes ul li,
.boxes-footer ul li {
  display: flex;
  align-items: center;
  font-family: "HelveticaRegular";
  font-size: 26px;
  letter-spacing: normal;
}
.boxes-footer ul li {
  color: #fff;
}
.boxes ul li:not(:last-child) {
  margin-right: 30px;
}
.boxes-footer ul li:not(:last-child) {
  margin-right: 30px;
}
.icon {
  width: 55px;
  height: 55px;
  margin-right: 7px;
}

/* first-section */
.img-banner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap-advertising {
  background-color: #079045;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-advertising p {
  font-family: "HelveticaLight";
  font-size: 35px;
  text-align: right;
  color: #fff;
}
.wrap-advertising img {
  width: 75px;
  height: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

/* second-section */
.section-offers {
  padding: 65px 0;
  background-color: #f9f8d3;
}
.wrap-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-title h1 {
  margin-bottom: 9px;
  font-family: "FtySpeedyCasualNcv";
  font-weight: normal;
  font-size: 35px;
  color: #079045;
}
.wrap-title h2 {
  font-family: "FtySpeedyCasualNcv";
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 3px;
  color: #fe5013;
}
.wrap-title img {
  width: 150px;
  height: 23px;
  margin-bottom: 25px;
}
.list-price-offers {
  display: flex;
  justify-content: space-around;
}
.item-price-offers {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  text-align: center;
}
.item-price-offers:last-child {
  text-align: left;
}
.item-price-offers span {
  margin-bottom: 25px;
  font-family: "HelveticaRegular";
  font-size: 16px;
  line-height: 1.2em;
}

.item-price-offers img {
  width: 380px;
  margin-bottom: 20px;
}
.item-price-offers h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "FtySpeedyCasualNcv";
  font-weight: normal;
  font-size: 25px;
}

.item-price-offers:last-child span {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.list-player {
  float: left;
  text-align: left;
  margin-bottom: 20px;
  margin-right: 25px;
  padding-left: 65px;
  font-family: "HelveticaRegular";
  font-size: 16px;
}
.list-prise {
  padding-right: 65px;
  text-align: right;
  margin-bottom: 20px;
  font-family: "HelveticaRegular";
  font-size: 16px;
}
.list-player li {
  line-height: 1.2em;
}
.list-prise li {
  color: #fe5013;
  line-height: 1.2em;
}
.list-prise li:last-child {
  color: #079045;
}
.item-price-offers a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 30px;
  background-color: #0a7d3e;
  border-radius: 25px;
  color: #fff;
  font-family: "HelveticaRegular";
  font-size: 20px;
  line-height: 1.19em;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* third section */
.section-reserve {
  position: relative;
}

.wrap-banner img {
  width: 100%;
  height: 100%;
}
.bcg-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  object-fit: cover;
}

.text-reserve {
  position: absolute;
  top: 12%;
  left: 3%;
  color: #fff;
}
.title-reserve {
  font-family: "FtySpeedyCasualNcv";
  font-size: 200px;
  letter-spacing: 0.06em;
  color: inherit;
  margin-bottom: 35px;
}
.title-reserve span {
  display: block;
  letter-spacing: 0.02em;
  font-size: 71px;
}
.subetitle-reserve {
  margin-bottom: 70px;
  font-family: "FtySpeedyCasualNcv";
  font-size: 125px;
  letter-spacing: 0.03em;
  color: inherit;
}
.subetitle-reserve span {
  display: block;
  letter-spacing: 0.02em;
  font-size: 81px;
}
.link-btn-call {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 550px;
  padding: 15px 35px;
  border-radius: 50px;
  border: 3px solid #fff;
  white-space: normal;
  color: #ffffff;
  background-color: #de5127;
  font-family: "HelveticaLight";
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* fourth section */

.section-map {
  background-color: #0b3665;
}
.map {
  width: 100%;
  height: 350px;
  border: 0;
}

/* footer */
.section-footer {
  background-color: #0b3665;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrap-logo-footer {
  text-align: center;
  margin-bottom: 60px;
}
.wrap-logo-footer img {
  margin-bottom: 10px;
  width: 260px;
  font-weight: normal;
}
.wrap-logo-footer p {
  font-family: "HelveticaRegular";
  font-weight: normal;
  font-size: 27px;
  color: #fff;
  letter-spacing: 0.01em;
}
.contacts-list-footer {
  justify-content: center;
  padding-bottom: 70px;
}
.contact-item-footer {
  color: #fff;
}
.list-navigation-footer li a {
  color: #15bce2;
}
.wrap-bottom {
  text-align: center;
  background-color: #011f41;
  padding: 15px 0;
}
.wrap-bottom p {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-family: "HelveticaLight";
  font-size: 15px;
  color: #fff;
}
.boxes-footer {
  margin-bottom: 60px;
}

@media only screen and (min-width: 1301px) and (max-width: 1760px) {
  /* header */
  .wrap-logo img {
    width: 500px;
    height: 40px;
  }
  .boxes ul li,
  .boxes-footer ul li,
  .list-nav li a {
    font-size: 20px;
  }
  .boxes ul li:not(:last-child) {
    margin-right: 25px;
  }
  .icon {
    width: 37px;
    height: 37px;
  }
  .list-nav li:not(:last-child) {
    margin-right: 25px;
  }
  /* second-section */
  .wrap-title h1 {
    font-size: 30px;
  }
  .wrap-title h2 {
    font-size: 47px;
  }
  .wrap-title img {
    width: 125px;
    height: 18px;
  }
  .item-price-offers img {
    width: 350px;
    height: 220px;
  }
  .list-player {
    padding-left: 45px;
  }
  .list-prise {
    padding-right: 45px;
  }
  /* third section */
  .title-reserve {
    font-size: 150px;
    margin-bottom: 30px;
  }
  .title-reserve span {
    font-size: 53px;
  }
  .subetitle-reserve {
    margin-bottom: 50px;
    font-size: 93px;
  }
  .subetitle-reserve span {
    font-size: 60px;
  }
  .link-btn-call {
    max-width: 350px;
    padding: 13px 35px;
    border-radius: 35px;
    font-size: 23px;
    border: 2px solid #fff;
  }
  .img-frog-reserve img {
    position: relative;
    bottom: 40px;
    width: 650px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  /* header */
  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrap-logo img {
    width: 350px;
    height: 30px;
  }
  .boxes ul li,
  .boxes-footer ul li,
  .list-nav li a {
    font-size: 15px;
  }
  .boxes ul li:not(:last-child) {
    margin-right: 20px;
  }
  .icon {
    width: 27px;
    height: 27px;
  }
  .list-nav li:not(:last-child) {
    margin-right: 19px;
  }
  /* first-section */
  .wrap-advertising p {
    font-size: 26px;
  }
  .wrap-advertising img {
    width: 55px;
    height: 65px;
    margin-left: 15px;
    margin-right: 15px;
  }
  /* second-section */
  .wrap-title h1 {
    font-size: 26px;
  }
  .wrap-title h2 {
    font-size: 40px;
  }
  .wrap-title img {
    width: 115px;
    height: 16px;
  }
  .item-price-offers img {
    width: 300px;
    height: 190px;
  }
  .list-player {
    padding-left: 20px;
  }
  .list-prise {
    padding-right: 20px;
  }
  /* third section */
  .text-reserve {
    top: 16%;
  }
  .title-reserve {
    font-size: 117px;
    margin-bottom: 20px;
  }
  .title-reserve span {
    font-size: 41px;
  }
  .subetitle-reserve {
    font-size: 73px;
    margin-bottom: 50px;
  }
  .subetitle-reserve span {
    font-size: 47px;
  }
  .link-btn-call {
    max-width: 300px;
    padding: 12px 35px;
    border-radius: 40px;
    font-size: 24px;
    border: 2px solid #fff;
  }
  /* footer */
  .wrap-logo-footer img {
    width: 200px;
  }
  .wrap-logo-footer p {
    font-size: 21px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* header */
  .header-container {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .logo-mobile img {
    top: 3%;
    left: 3%;
  }
  .boxes ul li:not(:last-child) {
    margin-right: 20px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .wrap-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list-nav li a:not(:last-child) {
    margin-right: 20px;
  }
  /* first-section */
  .wrap-advertising p {
    font-size: 24px;
  }
  .wrap-advertising img {
    width: 50px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }
  /* second-section */
  .list-price-offers {
    flex-direction: column;
    align-items: center;
  }
  .wrap-title h1 {
    font-size: 30px;
  }
  .wrap-title h2 {
    font-size: 47px;
  }
  .wrap-title img {
    width: 125px;
    height: 18px;
  }
  .item-price-offers img {
    width: 300px;
  }
  .list-player {
    padding-left: 27px;
  }
  .list-prise {
    padding-right: 27px;
  }
  /* third section */
  .text-reserve {
    top: 15%;
  }
}
@media only screen and (max-width: 1023px) {
  /* header */
  .logo-mobile img {
    display: block;
    position: absolute;
    width: 150px;
  }
  .wrap-logo img {
    display: none;
  }
  .boxes ul li,
  .boxes-footer ul li,
  .list-nav li a {
    font-size: 15px;
  }
  /* second-section */
  .section-offers {
    padding: 50px 0;
  }
  .item-price-offers:not(:last-child) {
    margin-bottom: 30px;
  }
  .item-price-offers:last-child span {
    max-width: 250px;
  }
  .item-price-offers h3 {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .price-text-offers span {
    font-size: 15px;
    margin-bottom: 17px;
  }
  /* third section */
  .title-reserve {
    font-size: 70px;
    margin-bottom: 20px;
  }
  .title-reserve span {
    font-size: 25px;
  }
  .subetitle-reserve {
    font-size: 44px;
  }
  .subetitle-reserve span {
    font-size: 28px;
  }
  .link-btn-call {
    max-width: 190px;
    padding: 8px 35px;
    border-radius: 40px;
    font-size: 15px;
    border: 2px solid #fff;
  }
  .wrap-logo-footer {
    margin-bottom: 40px;
  }
  .wrap-logo-footer img {
    width: 200px;
  }
  .wrap-logo-footer p {
    font-size: 21px;
  }
  .boxes-footer {
    margin-bottom: 40px;
  }
  .list-nav li:not(:last-child) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* header */
  header {
    position: relative;
  }
  .header-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu-button {
    display: block;
  }
  .logo-mobile img {
    top: 12%;
    left: 6%;
  }
  .menu-button img {
    width: 40px;
    height: 40px;
  }
  .boxes {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    background-color: #fff;
    border-top: 1px solid #15bce2;
  }
  .boxes.is-open {
    display: block;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .boxes ul {
    width: 230px;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  .boxes ul li {
    margin: 0;
  }
  .boxes ul li:not(:last-child) {
    margin-bottom: 15px;
  }
  .wrap-nav nav {
    justify-content: center;
  }
  /* first-section */
  .wrap-advertising {
    padding: 7px 0;
  }
  .wrap-advertising p {
    font-size: 18px;
  }
  .wrap-advertising img {
    width: 40px;
    height: 43px;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* second-section */
  
  .wrap-title h1 {
    font-size: 20px;
  }
  .wrap-title h2 {
    font-size: 33px;
  }
  .wrap-title img {
    width: 108px;
    height: 15px;
  }
  .list-price-offers {
    flex-direction: column;
    align-items: center;
  }
  .item-price-offers img {
    width: 250px;
  }
  .item-price-offers a {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
  }
  .list-player li,
  .list-prise li {
    font-size: 15px;
  }
  .list-player {
    padding-left: 15px;
    margin-right: 10px;
  }
  .list-prise {
    padding-right: 15px;
  }
  /* third section */
  .section-reserve {
    background-color: #bed78a;
    height: 400px;
  }
  .wrap-banner {
    display: none;
  }
  .text-reserve {
    padding-top: 50px;
    position: relative;
    top: 0;
    left: 0;
  }
  .title-reserve {
    text-align: center;
  }
  .subetitle-reserve {
    text-align: center;
  }
  /* footer */

  .boxes-footer ul {
    display: block;
  }

  .boxes-footer ul li:not(:last-child) {
    margin-bottom: 20px;
  }

  .list-nav li a:not(:last-child) {
    margin-right: 20px;
  }
   
  .wrap-bottom p {
        width: 245px;
    font-size: 10px;
  }
}
