/* fonts */
@font-face {
  font-family: "FtySpeedyCasualNcv";
  src: url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.eot");
  src: local("☺"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.woff") format("woff"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.ttf") format("truetype"),
    url("fonts/FtySpeedyCasualNcv/FtySpeedyCasualNcv.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelveticaLight/HelveticaLight.eot");
  src: local("☺"),
    url("./fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("./fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"),
    url("./fonts/HelveticaLight/HelveticaLight.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("./fonts/HelveticaLight/HelveticaMedium.eot");
  src: local("☺"),
    url("fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("./fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype"),
    url("./fonts/HelveticaMedium/HelveticaMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("./fonts/HelveticaRegular/HelveticaRegular.eot");
  src: local("☺"),
    url("./fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("./fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype"),
    url("./fonts/HelveticaRegular/HelveticaRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Reset Styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
  line-height: 1;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
}

/* header */
.header-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.img-logo {
  width: 700px;
  height: 60px;
}

.header-nav {
  background-color: #317fd4;

  padding-top: 30px;
  padding-bottom: 30px;
}
.wrap-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-nav {
  display: flex;
}
.item-nav {
  font-family: "HelveticaRegular";
  font-size: 26px;
  letter-spacing: normal;
  color: #fff;
  cursor: pointer;
}

/* contact-list for header and footer */
.contacts-list {
  display: flex;
}
.contact-item {
  display: flex;
  align-items: center;
  font-family: "HelveticaRegular";
  font-size: 26px;
  letter-spacing: normal;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}
.icon {
  width: 55px;
  height: 55px;
  margin-right: 7px;
}

.item-nav:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (min-width: 1601px) and (max-width: 1850px) {
  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header-nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .img-logo {
    width: 500px;
    height: 40px;
  }

  .contact-item,
  .item-nav {
    font-size: 20px;
  }

  .contact-item:not(:last-child) {
    margin-right: 20px;
  }

  .icon {
    width: 37px;
    height: 37px;
  }

  .item-nav:not(:last-child) {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1600px) {
  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .img-logo {
    width: 500px;
    height: 40px;
  }
  .contact-item,
  .item-nav {
    font-size: 20px;
  }
  .contact-item:not(:last-child) {
    margin-right: 20px;
  }
  .icon {
    width: 37px;
    height: 37px;
  }
  .header-nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .item-nav:not(:last-child) {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1369px) {
  .header-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .img-logo {
    width: 350px;
    height: 30px;
  }
  .contact-item,
  .item-nav {
    font-size: 15px;
  }
  .contact-item:not(:last-child) {
    margin-right: 20px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .header-nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .item-nav:not(:last-child) {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }
  .header-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .img-logo {
    width: 300px;
    height: 25px;
  }
  .contact-item,
  .item-nav {
    font-size: 13px;
  }
  .contacts-list {
    display: flex;
  }
  .contact-item:not(:last-child) {
    margin-right: 15px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .header-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .item-nav:not(:last-child) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 839px) {
  .container {
    padding: 0 25px;
  }
  .header-container {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .wrap-logo {
    margin-bottom: 15px;
  }
  .img-logo {
    width: 350px;
    height: 30px;
  }
  .contact-item,
  .item-nav {
    font-size: 15px;
  }
  .contacts-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .header-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .wrap-nav {
    justify-content: center;
  }
  .list-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .item-nav:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* first-section */
.img-banner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap-advertising {
  background-color: #079045;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-advertising {
  font-family: "HelveticaLight";
  font-size: 35px;
  text-align: right;
  color: #fff;
}
.img-advertising {
  width: 75px;
  height: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {
  .text-advertising {
    font-size: 30px;
  }

  .img-advertising {
    width: 60px;
    height: 75px;
    margin-left: 17px;
    margin-right: 17px;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .text-advertising {
    font-size: 26px;
  }

  .img-advertising {
    width: 55px;
    height: 65px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1100px) {
  .text-advertising {
    font-size: 24px;
  }
  .img-advertising {
    width: 50px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 839px) {
  .wrap-advertising {
    padding: 7px 0;
  }
  .text-advertising {
    font-size: 18px;
  }
  .img-advertising {
    width: 40px;
    height: 43px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* second-section */
.section-offers {
  padding: 65px 0;
  background-color: #f9f8d3;
}
.inner-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-offers {
  margin-bottom: 9px;
  font-family: "FtySpeedyCasualNcv";
  font-weight: normal;
  font-size: 35px;
  color: #079045;
}
.subtitle-offers {
  font-family: "FtySpeedyCasualNcv";
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 3px;
  color: #fe5013;
}
.img-line {
  width: 150px;
  height: 23px;
  margin-bottom: 25px;
}
.list-price-offers {
  display: flex;
  justify-content: space-around;
}
.item-price-offers {
  max-width: 380px;
  text-align: center;
}
.img-offers {
  width: 380px;
  height: 250px;
  margin-bottom: 20px;
}
.price-title-offers {
  margin-bottom: 20px;
  font-family: "FtySpeedyCasualNcv";
  font-weight: normal;
  font-size: 25px;
}
.price-text-offers {
  margin-bottom: 25px;
  font-family: "HelveticaRegular";
  font-size: 16px;
  line-height: 1.2em;
}
.item-price-offers:last-child .price-text-offers {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.list-player {
  float: left;
  text-align: left;
  margin-bottom: 20px;
  margin-right: 25px;
  padding-left: 65px;
  font-family: "HelveticaRegular";
  font-size: 16px;
}
.list-prise {
  padding-right: 65px;
  text-align: right;
  margin-bottom: 20px;
  font-family: "HelveticaRegular";
  font-size: 16px;
}
.item-player {
  line-height: 1.2em;
}
.item-prise {
  color: #fe5013;
  line-height: 1.2em;
}
.item-prise:last-child {
  color: #079045;
}
.link-btn-offers {
  display: inline-block;
  margin: auto;
  padding: 12px 30px;
  background-color: #0a7d3e;
  border-radius: 25px;
  color: #fff;
  font-family: "HelveticaRegular";
  font-size: 20px;
  line-height: 1.19em;
  letter-spacing: 0.04em;
  cursor: pointer;
}
@media only screen and (min-width: 1601px) and (max-width: 1919px) {
  .title-offers {
    font-size: 30px;
  }

  .subtitle-offers {
    font-size: 47px;
  }

  .img-line {
    width: 125px;
    height: 18px;
  }

  .img-offers {
    width: 350px;
    height: 220px;
  }

  .list-player {
    padding-left: 45px;
  }

  .list-prise {
    padding-right: 45px;
  }
}
@media only screen and (min-width: 1350px) and (max-width: 1600px) {
  .title-offers {
    font-size: 30px;
  }

  .subtitle-offers {
    font-size: 47px;
  }

  .img-line {
    width: 125px;
    height: 18px;
  }

  .img-offers {
    width: 350px;
    height: 220px;
  }

  .list-player {
    padding-left: 45px;
  }

  .list-prise {
    padding-right: 45px;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1349px) {
  .title-offers {
    font-size: 26px;
  }

  .subtitle-offers {
    font-size: 40px;
  }
  .img-line {
    width: 115px;
    height: 16px;
  }
  .img-offers {
    width: 300px;
    height: 190px;
  }
  .list-player {
    padding-left: 20px;
  }
  .list-prise {
    padding-right: 20px;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1100px) {
  .section-offers {
    padding: 50px 0;
  }
  .title-offers {
    font-size: 23px;
  }

  .subtitle-offers {
    font-size: 33px;
  }

  .img-line {
    width: 95px;
    height: 13px;
  }

  .img-offers {
    width: 230px;
    height: 160px;
  }
  .price-title-offers {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .price-text-offers {
    font-size: 15px;
    margin-bottom: 17px;
  }
  .list-player {
    padding-left: 5px;
    margin-right: 0px;
  }

  .list-prise {
    padding-right: 5px;
  }
  .link-btn-offers {
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 17px;
  }
  .item-price-offers:last-child .price-text-offers {
    max-width: 220px;
  }
}

@media screen and (max-width: 839px) {
  .section-offers {
    padding: 50px 0;
  }
  .title-offers {
    font-size: 20px;
  }
  .subtitle-offers {
    font-size: 35px;
  }
  .img-line {
    width: 108px;
    height: 15px;
  }
  .list-price-offers {
    flex-direction: column;
    align-items: center;
  }
  .img-offers {
    width: 250px;
    height: 175px;
  }
  .price-title-offers {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .price-text-offers {
    font-size: 15px;
    margin-bottom: 17px;
  }
  .link-btn-offers {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
  }
  .item-player,
  .item-prise {
    font-size: 15px;
  }
  .list-player {
    padding-left: 15px;
    margin-right: 10px;
  }

  .list-prise {
    padding-right: 15px;
  }
}

/* third section */
.section-reserve {
  position: relative;
}
.wrapper-reserve {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 65px 0;
}
.bcg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  object-fit: cover;
}

.text-reserve {
  color: #fff;
  z-index: 1;
}
.title-reserve {
  font-family: "FtySpeedyCasualNcv";
  font-size: 120px;
  letter-spacing: 0.06em;
  color: inherit;
  margin-bottom: 35px;
}
.title-reserve span {
  display: block;
  letter-spacing: 0.02em;
  font-size: 42px;
}
.subetitle-reserve {
  margin-bottom: 70px;
  font-family: "FtySpeedyCasualNcv";
  font-size: 75px;
  letter-spacing: 0.03em;
  color: inherit;
}
.subetitle-reserve span {
  display: block;
  letter-spacing: 0.02em;
  font-size: 48px;
}
.link-btn-call {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 300px;
  padding: 15px 35px;
  border-radius: 40px;
  border: 3px solid #fff;
  white-space: normal;
  color: #ffffff;
  background-color: #de5127;
  font-family: "HelveticaLight";
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.img-frog-reserve {
  z-index: 1;
}
.img-frog-reserve img {
  position: relative;
  bottom: 40px;
  width: 750px;
}
@media only screen and (min-width: 1301px) and (max-width: 1600px) {
  .text-reserve {
    padding: 80px 0;
  }

  .title-reserve {
    font-size: 105px;
    margin-bottom: 30px;
  }

  .title-reserve span {
    font-size: 37px;
  }

  .subetitle-reserve {
    margin-bottom: 50px;
    font-size: 65px;
  }

  .subetitle-reserve span {
    font-size: 42px;
  }

  .link-btn-call {
    max-width: 260px;
    padding: 10px 35px;
    border-radius: 40px;
    font-size: 23px;
    border: 2px solid #fff;
  }

  .img-frog-reserve img {
    position: relative;
    bottom: 40px;
    width: 650px;
  }
}

@media only screen and (min-width: 840px) and (max-width: 1300px) {
  .img-frog-reserve {
    display: none;
  }
  .title-reserve {
    font-size: 90px;
    margin-bottom: 20px;
  }

  .title-reserve span {
    font-size: 32px;
  }

  .subetitle-reserve {
    margin-bottom: 35px;
    font-size: 57px;
  }

  .subetitle-reserve span {
    font-size: 37px;
  }

  .link-btn-call {
    max-width: 230px;
    padding: 10px 35px;
    border-radius: 40px;
    font-size: 20px;
    border: 2px solid #fff;
  }
}

@media screen and (max-width: 839px) {
  .img-frog-reserve {
    display: none;
  }

  .title-reserve {
    font-size: 70px;
    margin-bottom: 20px;
  }
  .title-reserve span {
    font-size: 25px;
  }

  .subetitle-reserve {
    margin-bottom: 35px;
    font-size: 44px;
  }

  .subetitle-reserve span {
    font-size: 28px;
  }

  .link-btn-call {
    max-width: 190px;
    padding: 8px 35px;
    border-radius: 40px;
    font-size: 15px;
    border: 2px solid #fff;
  }
}

/* fourth section */

.section-map {
  background-color: #0b3665;
}
.map {
  width: 100%;
  height: 350px;
  border: 0;
}

/* footer */
.section-footer {
  background-color: #0b3665;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrap-logo-footer {
  text-align: center;
  padding-bottom: 60px;
}
.img-logo-footer {
  margin-bottom: 10px;
  width: 199px;
  height: 80px;
  font-weight: normal;
}
.text-logo-footer {
  font-family: "HelveticaRegular";
  font-weight: normal;
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.01em;
}
.contacts-list-footer {
  justify-content: center;
  padding-bottom: 70px;
}
.contact-item-footer {
  color: #fff;
}
.item-navigation-footer {
  color: #15bce2;
}
.wrap-bottom {
  text-align: center;
  background-color: #011f41;
  padding: 15px 0;
}
.footer-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-family: "HelveticaLight";
  font-size: 15px;
  color: #fff;
}
@media screen and (max-width: 839px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
